:root {
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header {
    background: linear-gradient(to bottom, black, rgb(26, 25, 25));
}

header .container {
    background: linear-gradient(to bottom, black, rgb(26, 25, 25));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    cursor: pointer;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50 ), rgba(0, 0, 0, .50 )100%), url('../img/capa-bat.jpg');

    height: 475px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrossel-filmes {
    margin-top: 5px;
}

.item {
    
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    
}

.item:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next{
    height: 90%;
    font-size: 20vh;
    position: absolute;
    bottom: 5.8vh;
    margin: 0 !important;
    background-color:  rgb(41, 41, 41, 0.5)!important;
    transition: .3s ease all;
}

.botoes .botao:focus,
.owl-nav button.owl-prev:focus,
.owl-nav button.owl-next:focus, 
.owl-dots .owl-dot:focus{
    outline-style: none;
}

.owl-nav button.owl-prev:hover{
    background: linear-gradient(to right, rgb(65, 61, 61), rgb(61, 60, 60, 0.8))!important;
}

.owl-nav button.owl-next:hover{
    background: linear-gradient(to left, rgb(65, 61, 61), rgb(61, 60, 60, 0.8))!important;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-prev span, .owl-next span {
    color: #807f7f;
    font-size: 20vh;
}

.owl-nav button.owl-next {
    right: 0;
}